<div class="text-center text-black primary-color">

    <div class="container pt-4">

        <section class="mb-4">

            <!-- GitHub -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/joshgvines" role="button"
                data-mdb-ripple-color="dark">
                <i class="bi-github" style="font-size: 2.1rem;" role="img" aria-label="GitHub"></i>
            </a>

            <!-- Linkedin -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com/in/joshgvines" role="button"
                data-mdb-ripple-color="dark">
                <i class="bi-linkedin" style="font-size: 2.1rem;" role="img" aria-label="GitHub"></i>
            </a>

        </section>

    </div>

    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright: <a class="text-dark" href="https://joshgvines.com/">joshgvines.com</a>
    </div>

</div>