<div class="carousel-contianer">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/img/home/background-02.png" class="d-block w-100" alt="IMG NOT FOUND">
                <div class="carousel-caption">
                    <h3>Welcome!</h3>
                    <p>What is the purpose of this website?</p>
                    <a class="btn btn-dark" (click)="onClick('test1')" role="button">
                        Scroll To! <i class="bi bi-arrow-down-circle"></i></a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/img/home/background-04.png" class="d-block w-100" alt="IMG NOT FOUND">
                <div class="carousel-caption">
                    <h3>About Me</h3>
                    <p>Who is this guy?</p>
                    <a class="btn btn-dark" (click)="onClick('test2')" role="button">
                        Scroll To! <i class="bi bi-arrow-down-circle"></i></a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/img/home/background-05.png" class="d-block w-100" alt="IMG NOT FOUND">
                <div class="carousel-caption">
                    <h3>My Experience</h3>
                    <p>What have you done?</p>
                    <a class="btn btn-dark" (click)="onClick('test3')" role="button">
                        Scroll To! <i class="bi bi-arrow-down-circle"></i></a>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
</div>
<!--googleoff: all-->
<div class="bg-white">
    <div class="content-container">
        <h2 id="test1">About This Website</h2>

        <img src="/assets/img/home/background-02.png" width="100%">

        <h3>Purpose of This Website?</h3>


        <p>Welcome to my website. I'm glad you are taking the time to check it out.</p>

        <p>I hope to use this website as a platform to showcase my potential skills as I continue to learn. Hopefully,
            this will give clarity about who I am, my future endeavors, and my goals.</p>

        <p>I also want to continue to expand my web development and front-end framework knowledge, and I believe
            maintaining a website will help with this greatly. I also plan to continue adding new features and content
            to this website which will all be software-related.</p>

        <p>Overall, the end goal is to share new technologies and skills I have learned with
            others and improve my portfolio as time goes on.</p>

        <h2 id="test2">About Me</h2>

        <img src="/assets/img/home/background-04.png" width="100%">

        <h3 id="test2">Who Is This Guy?</h3>

        <p>I have been tinkering with and building computers since I was in high school. I work in software because I
            enjoy it, it is a hobby that simply turned into a career.</p>

        <p>When it comes to software development I feel my creative mindset and work ethic can provide value to myself
            and others. I am eager to continue honing my skills and seeking out new opportunities to improve myself and
            provide more value.</p>

        <p>For hobbies, I enjoy light gaming, jogging, and trying different craft beers here and there when I get the
            chance.</p>

        <p>I love learning new things and tackling complicated challenges and hope to continue working in software
            throughout my career.</p>

        <h2 id="test3">My Experience</h2>

        <img src="/assets/img/home/background-05.png" width="100%">

        <h3 id="test2">What Have I Done?</h3>

        <p>I started out working at the University of North Texas (UNT) as an academic assistant. I met some amazing
            people and had many fantastic mentors.</p>

        <p>This eventually led to me getting a job at Raytheon, (now Raytheon Technologies) as a college hire.</p>

        <p>I work on personal projects in my free time. An example would be this website and other content to
            expand my skills.</p>

        <p>I am focused mostly on Java development, but I try to learn more like the 'T' instead of an 'I'. What I
            mean by that is, an 'I' learner specializes in one or two things only. While a 'T' learner branches skills
            outward like an umbrella without worrying about tiny details that would
            not differentiate themselves.</p>

        <p>Learning Angular for this website would be a good example. I'm not a web developer, but having JavaScript
            framework and web development knowledge is extremely important in today's world.</p>
    </div>
</div>
<!--googleon: all-->