<div style="position: relative; height: 100vh;">
    <div class="page-header">
        <div class="test-ani-container">
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
            <div class="test-ani"></div>
        </div>
    </div>
    <div class="header-title">
        <h1>Josh Vines</h1>
        <div class="scale-pulse"><i (click)="onClick('check-out-heading')" class="bi bi-arrow-down-circle" style="font-size: 3rem;" role="img" aria-label="GitHub"></i></div>
    </div>
</div>

<div class="bg-white">
    <div class="container cards-padding">

        <div class="row title-banner">
            <h2 id="check-out-heading">Check Out My Stuff</h2>
        </div>

        <div class="row p-2">

            <div class="col-md">
                <a class="card" href="#">
                    <img src="/assets/img/home/black-and-white-code.png" class="card-img-top" alt="IMG NOT FOUND">
                    <div class="card-body">
                        <h5 class="card-title">This Website</h5>
                        <p class="card-text">Constructed using Angular and hosted on GitHub Pages.</p>
                    </div>
                </a>
            </div>

            <div class="col-md">
                <a class="card" href="#">
                    <img src="/assets/img/home/city-neon.png" class="card-img-top" alt="IMG NOT FOUND">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </a>
            </div>

            <div class="col-md">
                <a class="card" href="#">
                    <img src="/assets/img/home/glasses-n-code.png" class="card-img-top" alt="IMG NOT FOUND">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>