<!-- <div style="position: relative; height: 100vh;"> -->
<header class="posts-header no-select-txt" id="posts-home-header-id">
    <img src="/assets/img/skyrim-background.jpg">
    <div class="test-ani-container">
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
    </div>
    <div class="posts-header-title">
        <h1>Josh Vines</h1>
        <div class="scale-pulse"><i (click)="onClick('check-out-heading')" class="hover-pointer bi bi-arrow-down-circle"
                style="font-size: 3rem;" role="img" aria-label="GitHub"></i></div>
    </div>
</header>

<div class="bg-white">
    <div class="container cards-padding">

        <div class="row title-banner">
            <h2 id="check-out-heading">Check Out My Stuff</h2>
        </div>

        <div class="row p-2">

            <div class="col-md">
                <a class="card" href="https://github.com/joshgvines/joshgvines.github.io/tree/gh-pages">
                    <img src="/assets/img/home/black-and-white-code.png" class="card-img-top" alt="IMG NOT FOUND">
                    <div class="card-body">
                        <h5 class="card-title">This Website</h5>
                        <p class="card-text">Constructed using Angular and hosted on GitHub Pages.</p>
                    </div>
                </a>
            </div>

            <div class="col-md">
                <a class="card" href="#">
                    <img src="/assets/img/home/city-neon.png" class="card-img-top" alt="IMG NOT FOUND">
                    <div class="card-body">
                        <h5 class="card-title">LinkedIn</h5>
                        <p class="card-text">Check out my experince and certification on LinkedIn.</p>
                    </div>
                </a>
            </div>

            <div class="col-md">
                <a class="card" href="https://github.com/joshgvines">
                    <img src="/assets/img/home/glasses-n-code.png" class="card-img-top" alt="IMG NOT FOUND">
                    <div class="card-body">
                        <h5 class="card-title">GitHub</h5>
                        <p class="card-text">My GitHub account and personal projects.</p>
                    </div>
                </a>
            </div>

        </div>

        <!-- <div class="row p-2">
            <div class="col-md">
                <a class="card" href="https://github.com/joshgvines/html-logger/tree/develop">
                    <img src="/assets/img/home/glasses-n-code.png" class="card-img-top" alt="IMG NOT FOUND">
                    <div class="card-body">
                        <h5 class="card-title">Simple HTML Logger</h5>
                        <p class="card-text">Built a simple logger for Java which outputs logs to HTML format.</p>
                    </div>
                </a>
            </div>
        </div> -->

    </div>
</div>